.editor {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 280px;
  background: var(--nmo-bg);
  /* border: 1px solid var(--nmo-border, #ccc); */
  border-radius: 8px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); */
  font-family: sans-serif;
  z-index: 9999;
}

.toggle {
  width: 2rem;
  height: 2rem;
  padding: 5px;
  /* background: var(--nmo-component-background); */
  background: red;
  color: var(--nmo-text-primary-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position:fixed;
  bottom: 20px;
  right:20px;
  display: flex;
}
.closeButton{
  width:20px;
  height:20px;
  border-radius: 50%;
  margin-inline-start: auto;
}

.content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.reset {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
}
